
nav(class="navbar navbar-light bg-light")
  a(class="navbar-brand" href="#") Bazar
  div(class="justify-content-end")
    button(type="button" class="btn btn-success") <i class="fas fa-cart-plus"></i> Cart
    button(type="button" class="ml-1 btn btn-dark") <i class="fas fa-unlock"></i> Admin 
