body
   div(class="container")
      h1 Bazarul de Joaca
      h4(class="d-inline") Primul bazar de jocuri video
      button(type="button" class="d-inline float-right btn btn-secondary") Admin
      button(type="button" class="d-inline float-right btn btn-primary") Cos de cumparaturi

      
      div(class="card")
         img(src="public/img/gow4.jfif", class="img-fluid card-img=top" alt="")
         div(class="text-center card-body")
            h5(class="card-title") God Of War 4
            h6 100$
            a(href="#" class="btn d-inline float-left btn-primary") DETALII
            a(href="#" class="btn d-inline float-right btn-success") CUMPARA
      div(class="card")
         img(src="public/img/gow4.jfif", class="img-fluid card-img=top" alt="")
         div(class="text-center card-body")
            h5(class="card-title") God Of War 4
            h6 100$
            a(href="#" class="btn d-inline float-left btn-primary") DETALII
            a(href="#" class="btn d-inline float-right btn-success") CUMPARA
   include footer.pug