.card img {
  max-height: 300px;
}

.card-text {
  color: #7f7f7f;
}

.price {
  font-size: 16px;
  font-weight: bold;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.media-body {
  margin-top: 30px;
}

#detailsCarousel .carousel-item {
  height: 450px;
}

.adminPoster {
  width: 40px;
  height: 50px;
}

#adminPositionItems,
.adminPrice,
.adminStock,
.adminEdit,
.adminDelete,
.adminDone,
.cartQuantity,
.cartPrice,
.cartPoster,
.cartTotal {
  width: 25px;
  text-align: center;
}

.quantityInput {
  width: 40px;
}

#qty {
  width: 60px;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
}

.noticePanel {
  width: 350px;
  margin-right: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #343a40;
  color: white;
  margin-bottom: 5px;
  animation-name: notice;
  animation-delay: 4.5s;
  animation-duration: 0.6s;
}

@keyframes notice {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/*Preloader*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#load {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 1;
  transition: 0.5s opacity;
  background: white;
  z-index: 999;
}

#gears {
  position: relative;
  margin: auto;
  width: 100px;
  height: 80px;
  top: calc(50% - 110px);
}

.gear {
  position: absolute;
  z-index: -10;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 5s infinite;
  animation: spin 5s infinite;
}

.one svg {
  fill: rgb(148, 148, 148);
}

.two {
  left: 40px;
  width: 80px;
  height: 80px;
  -webkit-animation: spin-reverse 5s infinite;
  animation: spin-reverse 5s infinite;
}

.three {
  top: 45px;
  left: -10px;
  width: 60px;
  height: 60px;
}

.three svg {
  fill: rgb(56, 56, 56);
}

@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-reverse {
  50% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes spin-reverse {
  50% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

#text {
  position: relative;
  color: rgb(129, 129, 129);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  top: calc(50% - 80px);
}