.card img {
  max-height: 300px;
}

.card-text {
  color: #7f7f7f;
}

.price {
  font-size: 16px;
  font-weight: bold;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.media-body {
  margin-top: 30px;
}

#detailsCarousel .carousel-item {
  height: 450px;
}

.adminPoster {
  width: 40px;
  height: 50px;
}

#adminPositionItems,
.adminPrice,
.adminStock,
.adminEdit,
.adminDelete,
.adminDone,
.cartQuantity,
.cartPrice,
.cartPoster,
.cartTotal {
  width: 25px;
  text-align: center;
}

.quantityInput {
  width: 40px;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
}