extends ../layouts/layout.pug

block details
  div.container
  <!-- Row -->
    div(class="p-3")
      div(class="media pt-5")
        div(class="h-100 w-50")
          h4(class="mt-0") 
            strong #{product.title}
          div(class="embed-responsive rounded embed-responsive-21by9")
            iframe(class="embed-responsive-item" allowfullscreen src= product.trailerGame)
        <!-- /.col-lg-8 -->
        div(class="media-body ml-5 align-bottom h-100 clearfix ")
          p(class="text-justify") #{product.description}
          a(class="btn btn-success float-right" href="#") Add to cart
    div(class="p-3 text-center")
        each image in product.imagesSlider
          img(class="rounded w-25 h-25 ml-2 d-inline" src= image)