include ../layouts/layout.pug

block cart
  //- Ajax
  link(rel="stylesheet", href="/stylesheets/cart.css")
  script(src="/javascript/stockCheck.js")
  .container#container
    div(class="cartContainer")
      section(id="cart")
    div(id="site-footer")
      div(class="container cartClearfix")