extends ../layouts/layout.pug

block index
  div.container
    div(class="row")
      each product in products
        div(class="col-sm-3 col-md-3")
          div(class="card")
            img(src= product.imagePoster class="card-img-top" alt= product.title)
            div(class="card-body")
              h5(class="card-title") #{product.title}
              div.clearfix
                div.price.text-center #{product.price}$
                  a(href="#" class="btn btn-success float-right") Buy
                  a(href=`/details/${product.title}` class="btn btn-secondary float-left") Details
